<?xml version="1.0"?>
<launch>
    <!-- <node name="obstacle_avoidance" type="avoidance.py" pkg="navigation_pkg" output="screen"/> -->
    <include file="$(find navigation_pkg)/launch/amcl.launch"/>
    <include file="$(find robot_description)/launch/world.launch"/>
    <include file="$(find navigation_pkg)/launch/move_base.launch"/>

</launch>
